<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e7986">  <td>17/11/12 21:56:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.globantu.automation.jose_colin.TestTravelocity@7823a2f9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>17/11/12 21:56:20</td>   <td>-17309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeSuite(java.lang.String)[pri:0, instance:com.globantu.automation.jose_colin.TestTravelocity@7823a2f9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>17/11/12 21:56:27</td>   <td>-9847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTravelocity.testMenu()[pri:0, instance:com.globantu.automation.jose_colin.TestTravelocity@7823a2f9]">testMenu</td> 
  <td>main@1860944798</td>   <td></td> </tr>
</table>
